@media (prefers-color-scheme: light) {
  a:hover {
    color: #61dafb;
  }
}

.h1-style {
  font-size: 2rem; /* Existing style */
  line-height: 2.4rem; /* Existing style */
  padding: 10px; /* Add some padding around the text */
  border: 2px solid #61dafb; /* Add a solid border with the theme color */
  display: inline-block; /* This makes the border wrap around the text */
  border-radius: 10px; /* Optional: Adds rounded corners to the border */
  background-color: rgba(97, 218, 251, 0.1); /* Optional: Adds a subtle background color */
  box-shadow: 0 0 10px rgba(97, 218, 251, 0.5); /* Optional: Adds a soft glow effect */
  text-shadow: 1px 1px 2px #000; /* Optional: Adds a slight shadow to the text for better readability */
}

/* Adjust the main container */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; Changed to manage space distribution */
  margin: 0 auto;
  padding: 1em;
  overflow: auto; /* Allows scrolling only if content exceeds the viewport, consider changing based on your needs */
  min-height: 100%;
  /* width: max-content; */
  /* height: 2000rem; */
}

.popup-footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  /* right: 0; */
  font-size: 10px;
  color: grey;
  padding: 10px;
  margin-top: 1.5rem;
  margin-bottom: 5px;
}

::-webkit-scrollbar {
  display: none;
}

.main-content::-webkit-scrollbar {
  display: none;
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h3 {
  color: #61dafb;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.2rem;
  margin: 1rem auto;
}

a {
  font-size: 0.5rem;
  margin: 0.5rem;
  color: #cccccc;
  text-decoration: none;
}

.text-style {
  color: #61dafb;
  /* text-transform: uppercase; */
  font-weight: 200;
  margin: 1rem auto;
  text-align: center;
}

.h1-style {
  font-size: 2rem; /* Slightly smaller for better fit on various devices */
  line-height: 2.4rem; /* Adjusted for optimal readability */
}

.h2-style {
  font-size: 1.2rem; /* Refined for clear hierarchy */
  line-height: 1.8rem; /* Enhanced line height for readability */
}

.h3-style {
  font-size: 1.2rem; /* Fine-tuned for subheadings */
  line-height: 1.5rem; /* Optimized line height */
}

.p-style {
  margin-top: -1rem;
  font-size: 1rem; /* Standard readable size for paragraph */
  line-height: 1.4rem; /* Comfortable reading line height */
  text-transform: none; /* Remove uppercase for paragraph for readability */
}

/* Resetting margins for heading elements to ensure consistent spacing */
header,
h2,
section {
  margin: 1rem auto;
}
